body{
    font-family: sans-serif;
}
h1{
    font-size: 2.2rem;
    color: steelblue;
    font-style: italic;
    text-shadow: 2px 2px 3px steelblue;
}

h2{
    font-size: 1.3rem;
}

h3{
    font-size: 1.4rem;
}

h4{
    font-size: 1.1rem;
}

h4 a{
    color: maroon;
}

h4 a:hover{
    color: steelblue;
}

ul li a{
    color: steelblue;
}

ul li a:hover{
    color: maroon;
}

ul li{
    padding: .2rem;
}

footer{
    font-size: .8rem;
    text-align: center;
}

header img{
    float: left;
}

.header-Text{
    text-indent: 5em;
}